.hero-section {
  /* background-image: url("../../images/light_background.png");
  background-size: cover; /* <------ */
  /* background-repeat: no-repeat;
  background-position: top; */
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  width: 100vw;
}

.first-half {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
}

.title {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
  border: 1px red solid;
  margin: 5rem;
}

.text-loop {
  box-sizing: border-box;
  color: white;
  text-align: center;
  -webkit-text-stroke: 3px black;
}

@media screen and (max-width: 800px) {
  .first-half,
  .second-half {
    border: 1px blue solid;
    width: 100%;
  }

  .title {
    border: 1px green solid;
  }

  .text-loop {
    border: 1px red solid;
  }
}
