.nav-menu {
  background: url(../../images/menu_background.svg);
  background-size: 100% 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100vh;
  transition: linear 0.3s;
  width: 100vw;
}

.nav-site-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-width: 400px;
}

.nav-extn-wrapper {
  flex: 1;
  min-width: 500px;
}

.nav-site-links {
  height: 60%;
  width: 100%;
}

.nav-site-links-list {
  align-items: left;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 100%;
  padding-left: 40%;
  margin: 0;
  list-style: none;
}

.nav-site-links-item {
  color: white;
  font-size: 4rem;
  font-weight: 900;
  text-align: left;
}

.fade-in {
  opacity: 1;
}
